<div class="container" style="height: 452px;">
    <div class="row">
        <div class="col-md-4 mx-auto p-2">
            <div class="card">
                <div class="mx-auto"><h2>GradientAPP</h2>
                </div>
                <div class="card-body" style="display: {{ visible }};">
                    <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="funcion" placeholder="Ingrese la Función a Resolver" autofocus>
                    </div>
                    <h4 class="mx-auto text-center">Vector Inicial</h4>
                    <div class="input-group p-1">
                    <input name="x_inicial" id="x_inicial" type="number" class="form-control text-center" placeholder="0" value=0>
                    <span class="input-group-addon">-</span>
                    <input name="y_inicial" id="y_inicial" type="number" class="form-control text-center" placeholder="0" value=0>
                    </div>
                    <div class="form-group p-1">
                        <button class="btn btn-success btn-block">Resolver</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
{{> gradiente }}
    </div>
</div>