<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header mx-auto"><h1>GradientAPP</h1></div>
                <div class="card-body">
                    <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="funcion" placeholder="Ingrese la Función a Resolver" autofocus>
                    </div>
                    <h4 class="mx-auto text-center">Vector Inicial</h4>
                    <div class="input-group p-2">
                    <input name="x_inicial" id="x_inicial" type="number" class="form-control text-center" placeholder="0">
                    <span class="input-group-addon">-</span>
                    <input name="y_inicial" id="y_inicial" type="number" class="form-control text-center" placeholder="0">
                    </div>
                    <div class="form-group p-3">
                        <button class="btn btn-success btn-block" onclick="mostrarResultado()">Resolver</button>
                        <input type="checkbox" name="ocultar" id="ocultar" style="display:none;" onchange="javascript:mostrarSolucion()" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>

{{> gradiente }}

    </div>
</div>