<div class="index container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3> Bienvenido {{user.nombre}}</h3>
                    <h4>{{user.id_Persona}}</h4>
                    {{#ifEquals user.fk_Rol_Persona 1}}
                    <a href="/ejercicios/add_ejercicio" class="btn btn-primary m-4 text-center">Ingrese un nuevo ejercicio</a>
                    {{else}}
                    <a href="/ejercicios" class="btn btn-primary m-4 text-center">Ejercicios Pendientes?</a>
                    {{/ifEquals }}
                </div>
            </div>
        </div>
    </div>
</div>