#show,#hide {
	display:none;
}

div#content {
	display:none;
  padding:5px;
  background-color:#f6f6f6;
  width:200px;
  height: 200px;
  cursor:pointer;
}

#cinta {  
  background-repeat: repeat;
  background-position: center bottom ;
  bottom: 0;
  width: 100%;
}

input#show:checked ~ div#content {
	display:block;
}

input#hide:checked ~ div#content {
	display:none;
}

body{
  background: url('/img/Fondo3.jpg');
 /* background: #b3b7c2;*/
  font-family: 'Oswald', sans-serif;
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
  margin: auto;
  min-width: 700px;
  max-width: 2000px;
  overflow:auto; 
}
.index{
  height: 500px;
}

main{
  width:100%;
  height:100%;
  margin:auto;
  min-width:600px;
  max-width:2000px;
}

.masterhead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
}

.masterfooter {
  /*background: url('/img/Fondo2.jpg');*/ 
  background-repeat: repeat;
  background-size: contain;
  font-size: 0.6rem;
  height: 105px;
}

.masterhead h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masterhead h1 {
      font-size: 5.5rem;
  }
}

.logoGradiente {
  width: 30%;
  height: 20%;
}


.foo h1 {
  text-align: center center;
  font-size: 1rem;
}

.fooimg {
  visibility: visible;    
  background-size: cover;
}

.ocultar{
  display : none;
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.box {
  height: 260px;
  border-radius: 30px;
}

.box-content {
  height: 260px;
  overflow: auto;
  border-radius: 30px;
}





