<footer id="sticky-footer" class=" masterfooter foo py-1 text-center">
    <div class="card col-md-3 bg-ligth container"  style="border-radius: 15px; border: 1px solid #000000;">
        <div>
            <h4>Modelos Deterministicos</h4>
            <h5 class="mx-auto">2019 - II</h5>
            <h5 class="mx-auto">Universidad de la Amazonia</h5>
            <small>Copyright &copy; www.github.com/GermanCode</small>
        </div> 
    </div>
</footer>