<footer id="sticky-footer" class="masterfooter py-2 text-center fade-in" style="bottom: 0px;">
    <div id ="cinta" class="card col-md-3 bg-ligth container"  style="border-radius: 15px; border: 1px solid #000000; bottom: 0px; font-size:0.7rem;">
        <div>
            <h4>Modelos Deterministicos</h4>
            <h5 class="mx-auto">Universidad de la Amazonia - 2019</h5>
            <small>Copyright &copy; www.github.com/GermanCode</small>
        </div> 
    </div>
</footer>