<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto" style="">
            <div class="card text-center" style="height: 400px;">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/Logo1.jpg" alt="Gradient Logo" class="logoGradiente card-img-top mx-auto m-2 w-40">
                    <form action="/signin" method="POST">
                    <div class="form-group p-2">
                        <input type="text" name="id_Persona" placeholder="Identificacion" class="form-control">
                    </div>
                    <div class="form-goup p-2">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form-goup p-2">
                        <button class="btn btn-primary btn-block">
                            Sign In
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>